@model IEnumerable<IdentityPrc.Models.Role>

@{
    ViewData["Title"] = "ListRoles";
}

<h1>ListRoles</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
          
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
           
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            
            
            <td>
                <a href="@Url.Action("Edit","Administrator",new{Id=item.Id})">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                    <a href="@Url.Action("Delete","Administrator",new{Id=item.Id})">Delete</a>
                </td>
        </tr>
}
    </tbody>
</table>
